body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif; 
}
a{
    text-decoration: none;
    color: black;
}
img{
    width:100%;
}
.total h3{
    padding: 1rem 0;
}

/**/
.container{
    padding:2rem; 
}

.toolbar{
    text-align: center;
    color: black;
}
.fa{
    float:right;
}
.toolbar i{
    float: left;
    visibility: hidden;
}

/**/
.tab-container{
    text-align: center;
    padding: 1rem;
}
.tab-container a{
    padding:1rem; 
}

/**/
.outwear{
    text-align: center;
    padding-bottom: 4%;
}
img{
    object-fit: cover;
}

.shop-btn{
    padding: 1%;
    border: 2px solid black;
}
.t-Shirt{
    display: flex;
    flex-wrap: wrap;
}
.outwear-tshirt{
    display: inline-block;
    max-width: 50%;
    text-align: center;
    padding-bottom: 2rem;
}
.outwear-tshirt img{
    display: block;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    height: 90%;
}

/**/
footer{
    margin-top: 6rem;
    padding-top: 2rem;
    text-align: center;
}
footer h4{
    border: 1rem;
}
@media screen and (max-width:766px){
    body{
        margin: 0;
        padding: 0;
        font-size: 90%;
    }
    nav{
        display: none;
    }
    .toolbar i{
        visibility: visible;
        font-size: 140%;
    }
    .container{
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .fa{
        font-size: 1rem;
    }
    .tab-container{
        padding: 0; 
        margin-bottom: 1rem;
    }
    .tab-container a{
        padding: 0.5rem;
    }
}
@media screen and (max-width:470px){
    nav{
        display: none;
    }
}