body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif; 
}
a{
    text-decoration: none;
    color: black;
}
img{
    width:100%;
}
.total h3{
    padding: 1rem 0;
}

/**/
.container{
    padding:2rem; 
}

.toolbar{
    text-align: center;
    color: black;
}
.fa{
    float:right;
}
.toolbar i{
    float: left;
    visibility: hidden;
}

/**/
.tab-container{
    text-align: center;
    padding: 1rem;
}
.tab-container a{
    padding:1rem; 
}
/**/
.outwear{
    text-align: center;
    padding-bottom: 2%;
}
img{
    object-fit: cover;
}
.grid-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.grid-item{
    font-size: 90%;
    text-align: center;
    padding: 10% 20%;
    
}

/**/
footer{
    text-align: center;
}
footer h4{
    border: 1rem;
}

@media screen and (max-width:766px){

    .grid-area{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    nav{
        display: none;
    }
    .toolbar i{
        visibility: visible;
        font-size: 140%;
    }
    .total h3{
        margin: 0;
    }
}